vaadin-scroller {
	background-color: black !important;
	opacity: 0.7 !important;
}

.menu-item-link:hover {
	color: #23d5ab !important;
}

iframe {
	width: 560px !important;
	height: 315px !important;
    box-shadow: 0px 0px 5px 2px cyan !important;
}

/***************** MOBILE ***********/
@media screen and (max-width: 600px) {
    iframe {
        width: auto !important;
        height: auto !important;
    }
}

/******************* EXPORT VIEW STYLING *******************/
.PrintPreviewReport-mainLayout {
	background-color: transparent !important;
}

.PrintPreviewReport-htmlContainer {
	width: 100% !important;
}

.PrintPreviewReport-htmlContainer {
	width: 100% !important;
}

/* EXPORTS: Row 1 - Export Buttons */
#ROOT-2521314 > vaadin-app-layout > vaadin-vertical-layout > vaadin-horizontal-layout:nth-child(1) {
	margin-left: 16px !important;
	width: 100%;
}

/* PDF BUTTON */
#ROOT-2521314 > vaadin-app-layout > vaadin-vertical-layout > vaadin-horizontal-layout > a:nth-child(1) {
	border-style: solid;
	padding: 10px;
	background-color: #01252e;
	color: #23d5ab;
}

/* CSV BUTTON */
#ROOT-2521314 > vaadin-app-layout > vaadin-vertical-layout > vaadin-horizontal-layout > a:nth-child(2) {
	border-style: solid;
	padding: 10px;
	background-color: #01252e;
	color: #23d5ab;
}

/* There are two td elements set to 50% width, one before and one after the exports table, this is the first. */
#ROOT-2521314 > vaadin-app-layout > vaadin-vertical-layout > vaadin-vertical-layout > div > span > table > tbody > tr > td:nth-child(1) {
	display: none !important;
	width: 0%;
}

/* There are two td elements set to 50% width, one before and one after the exports table, this is the second. */
#ROOT-2521314 > vaadin-app-layout > vaadin-vertical-layout > vaadin-vertical-layout > div > span > table > tbody > tr > td:nth-child(3)  {
	display: none !important;
	width: 0%;
}

#ROOT-2521314 > vaadin-vertical-layout > vaadin-vertical-layout > div {
	width: 100% !important;
}

.jrPage {
	background-color: black !important;
	opacity: 0.7 !important;
	width: 100% !important;
}

.jrPage span {
	color: white !important;
}

.jrPage td {
	background-color: #01252e !important;
}

/******************* END EXPORT STYLING *******************/

.chat-view {
	background-color: black !important;
	opacity: 0.7 !important;
}

.view-single-order-layout {
	background-color: black !important;
	opacity: 0.7 !important;
}

.userguide-layout {
	background-color: black !important;
	opacity: 0.7 !important;
}
.account-layout {
	background-color: black !important;
	opacity: 0.8 !important;
}

.discord-integration-view {
	background-color: black !important;
	opacity: 0.8 !important;
}

/*
One of the ways to force line breaks to show up:
white-space: pre !important;

To wrap overflowing text onto new lines:
word-wrap: break-word !important;
*/
p {
	white-space: pre-wrap !important;
}

.coloredLabel {
	color: #23d5ab;
	font-size: 1.1em;
}

.completeText {
	color: #00ff37 !important;
}
.incompleteText {
	color: #ff3131 !important;
}

[slot='drawer'] {
  background-image: linear-gradient(0deg, var(--lumo-shade-5pct), var(--lumo-shade-5pct));
}

[slot='drawer'] nav a {
  text-decoration: none;
  transition: color 140ms;
}

[slot='drawer'] nav a .la {
  margin-top: calc(var(--lumo-space-xs) * 0.5);
}

[slot='drawer'] nav a::before {
  border-radius: var(--lumo-border-radius);
  bottom: calc(var(--lumo-space-xs) * 0.5);
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: calc(var(--lumo-space-xs) * 0.5);
  transition: background-color 140ms;
}

[slot='drawer'] nav a[highlight] {
  color: var(--lumo-primary-text-color);
}

[slot='drawer'] nav a[highlight]::before {
  background-color: var(--lumo-primary-color-10pct);
}

[slot='drawer'] footer vaadin-context-menu {
  align-items: center;
  display: flex;
}

.menu-item-link {
  display: flex;
  margin-left: var(--lumo-space-s);
  margin-right: var(--lumo-space-s);
  padding: var(--lumo-space-s);
  position: relative;
  color: var(--lumo-secondary-text-color);
}

.menu-item-text {
  font-weight: 500;
  font-size: var(--lumo-font-size-s);
}

.menu-item-icon {
  margin-inline-end: var(--lumo-space-s);
  font-size: var(--lumo-font-size-l);
}

.view-title {
  margin: 0;
  font-size: var(--lumo-font-size-l);
}

.view-header {
  align-items: center;
  background-color: var(--lumo-base-color);
  border-bottom: 1px solid;
  border-color: var(--lumo-contrast-10pct);
  box-sizing: border-box;
  display: flex;
  height: var(--lumo-size-xl);
  width: 100%;
}

.view-toggle {
  color: var(--lumo-secondary-text-color);
}

.app-name {
  align-items: center;
  display: flex;
  height: var(--lumo-size-xl);
  margin: 0;
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
  font-size: var(--lumo-font-size-m);
}

.drawer-section {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
}

.menu-item-container {
  border-bottom: 1px solid;
  border-color: var(--lumo-contrast-10pct);
  flex-grow: 1;
  overflow: auto;
}

.navigation-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer {
  align-items: center;
  display: flex;
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
  padding-bottom: var(--lumo-space-xs);
  padding-top: var(--lumo-space-xs);
}
